body{
    margin:0;
    border:0;
    min-height:100%;
    width:100%;
    padding:0;
    background-size: cover;
    background : no-repeat center center fixed;
    transition: 0.5s ease-in-out;
}

.js-title{
    color:white;
    padding:30px;
        text-shadow: 0 0 10px #fff,
		 0 0 20px #fff,
		 0 0 30px #fff,
		 0 0 40px #ff00de,
		 0 0 70px #ff00de,
		 0 0 80px #ff00de,
		 0 0 100px #ff00de,
         0 0 150px #ff00de;
    transition: ease-in-out;
    font-size: 100pt;
}

.js-location{
    color:white;
    text-shadow: 0 0 10px #fff,
		 0 0 20px #fff,
		 0 0 30px #fff,
		 0 0 40px #ff00de,
		 0 0 70px #ff00de,
		 0 0 80px #ff00de,
		 0 0 100px #ff00de,
         0 0 150px #ff00de;
    transition: ease-in-out;
    font-size:45pt;
}

.js-CSS-Clock{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family:"Agency FB";
}

.js-toDoForm {
    margin:20px;
    display:inline-flex;
}

input{
    width:200px;
    height: 30px;
}

.js-toDoList {
    color:white;
    text-shadow: 0 0 10px #fff,
		 0 0 20px #fff,
		 0 0 30px #fff;
    transition: ease-in-out;
    font-size:20pt;
}


.js-weather{
    font-size:20pt;
    color:white;
    text-shadow: 0 0 10px #fff,
		 0 0 20px #fff,
		 0 0 30px #fff;
    transition: ease-in-out;
    font-size:20pt;
    position:absolute;
    right: 20px;
    bottom: 40px;
}

.footer{
    color:white;
    text-shadow: 0 0 10px #fff,
		 0 0 20px #fff,
		 0 0 30px #fff;
    transition: ease-in-out;
    font-size:15pt;
    position:absolute;
    right:3px;
    bottom:1px;

}

.js-nav{
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    top:30px;
    width:100%;
    text-align: center;
    color:white;
    word-spacing:1.2em;
}

button{
    all: unset;
    background-color: transparent;
    font-size:20px;
    transition: 0.1s ease-in-out;
}

#btn-about-close, #btn-contact-close{
    all:unset;
    background-color : #1b6b36;
    font-size:20px;
    padding:10px;
}

.contact, .about{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:20px;
}


.about-overlay, .contact-overlay{
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    position:absolute;
}

.about-content, .contact-content{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position:relative;
    text-align:center;
    border-radius:15px;
    padding: 75px 150px;
    background-color: rgba(0,0,0,0.8);
    font-size:25pt;
}

.contact-hidden, .about-hidden{
    display: none;
}